<!-- Carga script propios -->
<script src="{{ url_for('static', filename='js/page_color.js') }}"></script>
<script src="{{ url_for('static', filename='js/page_language.js') }}"></script>
<script src="{{ url_for('static', filename='js/button_cal.js') }}"></script>
<script src="{{ url_for('static', filename='js/button_logics.js') }}"></script>
<script src="{{ url_for('static', filename='js/nvbar.js') }}"></script>

<!-- Carga script proveedores -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>